#Ignore gbk files (they're generated as part of the pipeline, but shouldn't be changed)
gbks/*
*.swp
.snakemake
interproscan
logs/*
results/*
data/*
plots/*
side_analyses/*
tables/*
temp/*
old*
.~*
motifs/*.tsv
trimmed_core/*
untrimmed_core/*
rdp5_GH*
add_species/files/*
*/logs/*
*/plots/*
*/results/*
*.faa
*.fna
*.gbk
*.gbff
*.tab
*.ods
*.tiff
*/files/*
RDP5_analysis/RDP_output/*
